@using LapinCouvertModels.Models
@model IEnumerable<LapinCouvertModels.Models.MenuItem>

@{
    ViewData["Title"] = "Items de menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Items de menu</h1>

<p>
    <a asp-action="Create">Créer</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prix
        </th>
        <th>
            Quantité
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (MenuItem item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Image" height="200"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
    }
    </tbody>
</table>
